/.idea
/BertOrigin.py
/EFB_dataset.py
/Robert4task1_layer3.py
/Roberta4task2b.py
/__pycache__
/ar.json
/augmented.json
/bert-base-cased
/bert-base-cased-best
/bert-base-cased-fine-tune
/bert-base-cased-mlm-best
/bert-base-cased-mlm-fine-tune
/bert-base-casedbest
/bert-large-cased-fine-tune
/bert-large-cased-mlm-best
/bert-large-cased-mlm-fine-tune
/bert-large-casedbest
/bert_binary
/best_ensemable
/bg.json
/cascade_inference.py
/cascade_inference_binary.py
/checkpoint-3100
/checkpoint-3600
/checkpoint-4000 copy
/checkpoint-5900
/checkpoint-7500
/data
/data_check.py
/data_process.py
/deberta-v3-best
/deberta-v3-fine-tune
/debertav3_114514_final_train4.0
/debertav3_114514_final_train4.0_best
/debertav3_3407_final_train4.0
/debertav3_4096_final_train4.0
/debertav3_4096_final_train4.0_best
/debertav3_42_final_train15.0
/debertav3_42_final_train4.0
/debertav3_all_data_mlm-best
/debertav3_all_data_mlm-fine-tune
/debertav3_seed_42_4000
/efb_cls.py
/en_subtask1_test_unlabeled.json
/final.txt
/final1111111111.txt
/final_task1.txt
/fintune_th.json
/fintune_threho.py
/gpt_many_cot_clean3.json
/high_prob.txt
/inference.py
/inference_multilingual.py
/inference_task2b.py
/label2id.pt
/layer1_train.json
/layer1_validation.json
/linear.pth
/linear.py
/logits_to_train.txt
/main.py
/mk.json
/mlm_test.sh
/multilingual_mlm.json
/multimodel_dataset.py
/my_models
/my_run_mlm.py
/my_run_mlm.sh
/new_logits_to_train.txt
/new_train_data.json
/output
/pretrained_models
/process_multilingual.py
/result
/robert_114514_final_false_label_best
/roberta-base-best
/roberta-base-fine-tune
/roberta-base-mlm-best
/roberta-base-mlm-fine-tune
/roberta_114514_final_false_label
/roberta_114514_final_train10.0
/roberta_114514_final_train10.0_best
/roberta_114514_final_train14.0
/roberta_114514_final_train14.0_best
/roberta_114514_final_train15.0
/roberta_114514_final_train15.0_best
/roberta_114514_final_train3.0_best
/roberta_114514_final_train6.0_best
/roberta_114514_final_train7.0
/roberta_114514_final_without_false_label
/roberta_114515_final_train5.0
/roberta_114515_final_train5.0_best
/roberta_1234_final_train6.0_best
/roberta_1234_final_with_false
/roberta_3407_final_false_label
/roberta_3407_final_train14.0
/roberta_3407_final_train14.0_best
/roberta_3407_final_train15.0
/roberta_3407_final_train15.0_best
/roberta_3407_final_train6.0
/roberta_3407_final_train6.0_best
/roberta_3407_final_with_false
/roberta_4096_final_false_label
/roberta_4096_final_train15.0
/roberta_4096_final_train15.0_append
/roberta_4096_final_train15.0_best
/roberta_4096_final_train15.0_best_append
/roberta_4096_final_train6.0
/roberta_4096_final_train6.0_best
/roberta_4096_final_with_false
/roberta_42_final_train10.0
/roberta_42_final_train14.0
/roberta_42_final_train14.0_best
/roberta_42_final_train15.0
/roberta_42_final_train15.0_best
/roberta_42_final_train4.0_best
/roberta_42_final_train6.0
/roberta_42_final_train6.0_best
/roberta_alll_data_mlm-best
/roberta_alll_data_mlm-fine-tune
/roberta_base_42_final_new_false_label
/roberta_base_42_final_new_false_label_best
/roberta_base_42_final_train4.0
/roberta_base_42_final_train4.0_best
/roberta_large-fine-tune
/roberta_large_1234_final_new_false_label
/roberta_large_1234_final_new_false_label_best
/roberta_large_1234_final_train4.0
/roberta_large_1234_final_train4.0_best
/roberta_large_3407_final_new_false_label
/roberta_large_3407_final_new_false_label_best
/roberta_large_42_final_train4.0
/roberta_large_42_final_train4.0_best
/roberta_largebest
/run_mlm.sh
/scorer-baseline
/seed3407_5100_709
/seed4096_0.715_5600
/seed42_0.710_6600
/seed_114514_0.7138
/seed_3407_6500_best
/seed_4096_0.709_6700
/seed_4096_0.718
/seed_4096_0.718_4200
/seed_42_best4800
/subtask_1_2a.py
/task1_b.txt
/task1_cascade.txt
/task1_new_upload.txt
/task1_upload.txt
/task1_upload_new.txt
/task1_validation_withoutlabel.json
/task3.txt
/test.txt
/test_task1_dev_with_labels.json
/test_task1_dev_without_labels.json
/wandb